<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise 3</title>+
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        .article {
            width: 800px;
            height: 400px;
            margin: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        img {
            max-width: 100%;
            max-height: 100%;
        }

        .main {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .vertical {
            flex-direction: column
        }

        .article--small {
            display: flex;
            width: 100%;
            height: 100px;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="nav" style="background-color: cadetblue;">
            <button @click="toggleLayout('horizontal')">Horizontal</button>
            <button @click="toggleLayout('vertical')">Vertical</button>
        </div>
        <div class="main" :class="{ vertical: isVertical }">
            <div v-for="article in articles" :key="article.title"
                :class="{ 'article--small': isVertical, 'article': !isVertical }"
                @click="redirectToUrl(article.url)">
                <img v-bind:src="article.image.large" alt="Article Image">
                <a v-if="isVertical" v-bind:href="article.url">{{ article.title }}</a>
            </div>
        </div>
    </div>
    <script>
        const { createApp } = Vue;
        createApp({
            data() {
                return {
                    selectedItem: null,
                    isVertical: false,
                    articles: [{
                        "title": "What You Need To Know About CSS Variables",
                        "url": "https://tutorialzine.com/2016/03/what-you-need-to-know-about-css-variables/",
                        "image": {
                            "large": "https://tutorialzine.com/media/2016/03/css-variables.jpg",
                            "small": "https://tutorialzine.com/media/2016/03/css-variables.jpg"
                        }
                    },
                    {
                        "title": "Freebie: 4 Great Looking Pricing Tables",
                        "url": "https://tutorialzine.com/2016/02/freebie-4-great-looking-pricing-tables/",
                        "image": {
                            "large": "https://tutorialzine.com/media/2016/02/great-looking-pricing-tables.jpg",
                            "small": "https://tutorialzine.com/media/2016/02/great-looking-pricing-tables.jpg"
                        }
                    },
                    {
                        "title": "20 Interesting JavaScript and CSS Libraries for February 2016",
                        "url": "https://tutorialzine.com/2016/02/20-interesting-javascript-and-css-libraries-for-february-2016/",
                        "image": {
                            "large": "https://tutorialzine.com/media/2016/02/interesting-resources-february.jpg",
                            "small": "https://tutorialzine.com/media/2016/02/interesting-resources-february.jpg"
                        }
                    },
                    {
                        "title": "Quick Tip: The Easiest Way To Make Responsive Headers",
                        "url": "https://tutorialzine.com/2016/02/quick-tip-easiest-way-to-make-responsive-headers/",
                        "image": {
                            "large": "https://tutorialzine.com/media/2016/02/quick-tip-responsive-headers.png",
                            "small": "https://tutorialzine.com/media/2016/02/quick-tip-responsive-headers.png"
                        }
                    },
                    {
                        "title": "Learn SQL In 20 Minutes",
                        "url": "https://tutorialzine.com/2016/01/learn-sql-in-20-minutes/",
                        "image": {
                            "large": "https://tutorialzine.com/media/2016/01/learn-sql-20-minutes.png",
                            "small": "https://tutorialzine.com/media/2016/01/learn-sql-20-minutes.png"
                        }
                    },
                    {
                        "title": "Creating Your First Desktop App With HTML, JS and Electron",
                        "url": "https://tutorialzine.com/2015/12/creating-your-first-desktop-app-with-html-js-and-electron/",
                        "image": {
                            "large": "https://tutorialzine.com/media/2015/12/creating-your-first-desktop-app-with-electron.png",
                            "small": "https://tutorialzine.com/media/2015/12/creating-your-first-desktop-app-with-electron.png"
                        }
                    }
                    ]
                }
            },
            methods: {
                toggleLayout(layout) {
                    this.isVertical = (layout === 'vertical');
                },
                redirectToUrl(url) {
                    window.location.href = url;
                }

            }
        }).mount('#app')
    </script>
</body>

</html>