<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ListUser</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body style="height: 100vh">
    <div id="app" class="w-full ">
        <div class=" pt-12 container h-screen w-full bg-white " @click="closeAllPopUp()">
            <div class="flex justify-between mx-24 px-24">
                <input type="text" class="border border-blueGray-100 p-2 rounded w-" placeholder="Search user"
                    v-model="searchValue">
                <div class="relative inline-block px-4 max-w-full flex-grow flex-1 text-right">
                    <button @click="addNewUser()"
                        class="bg-indigo-500 active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                        type="button"> Create New
                    </button>
                </div>
            </div>
            <table class=" w-3/4 mt-6 mx-auto text-left">
                <thead class="text-xs text-gray-700 uppercase py-4 bg-white">
                    <tr scope="col" class="px-6 py-3  bg-white">
                        <th v-for="(column,index) in tableColumns" :key="index">
                            {{ column }}
                        </th>
                    </tr>
                </thead>
                <tr v-for="user in filterUserData" :key="user.id">
                    <td class="py-4">
                        <div class="flex items-center">
                            <img class="w-14 rounded-full" :src="user.avatar" alt="avatar" class="w-8 h-8 rounded-full">
                            <div class="mx-3">
                                <p>{{ user.name }}</p>
                                <b>{{user.email}}</b>
                            </div>
                        </div>
                    </td>
                    <td>{{user.role}}</td>
                    <td>
                        <span class="rounded px-2 py-2 text-white"
                            :class="user.status == 'active'? 'bg-green-400' : 'bg-red-400'">{{ user.status}}</span>
                    </td>
                    <td>
                        {{user.lastActivity}}
                    </td>
                    <td>{{user.joinDate.split("T")[0]}}</td>
                    <td class="relative">
                        <button type="button" @click.stop="handlePopUp(user.id)"
                            class="inline-flex justify-center w-full px-4 py-2 text-sm font-medium text-white rounded-md bg-gray-500 hover:bg-gray-600 focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75">
                            Actions
                            <svg xmlns="http://www.w3.org/2000/svg"
                                class="w-5 h-5 ml-2 -mr-1 text-violet-200 hover:text-violet-100" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </button>
                        <div @click.stop v-if="user.isShowPopUp" :id="'action-' + user.id" data-display="none"
                            class="popup absolute right-0 w-32 mt-1 origin-top-right bg-white divide-y divide-gray-100 rounded-md shadow-lg ring-1 ring-black ring-opacity-5 z-50 focus:outline-none">
                            <div class="px-1 py-1 popup">
                                <button @click="closeAllPopUp"
                                    class="popup hover:bg-gray-400 hover:text-white text-gray-900 group flex rounded-md items-center w-full px-2 py-2 text-sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="popup w-5 h-5 mr-2 text-violet-400"
                                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z">
                                        </path>
                                    </svg>
                                    Edit
                                </button>
                                <button @click="onDelete(user.id)"
                                    class="popup hover:bg-red-400 hover:text-white text-gray-900 group flex rounded-md items-center w-full px-2 py-2 text-sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="popup w-5 h-5 mr-2 text-violet-400"
                                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16">
                                        </path>
                                    </svg>
                                    Delete
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <script>
        const { createApp } = Vue
        createApp({
            computed: {
                filterUserData() {
                    return this.userData.filter((user) => {
                        let check = false
                        for (const key in user) {
                            if (key != 'isShowPopUp') {
                                if (user[key].includes(this.searchValue)) {
                                    check = true;
                                    break;
                                }
                            }
                        }
                        return check;
                    });
                }
            },
            methods: {
                addNewUser() {
                    const newUser = {
                        name: "Kiệt đẹp trai hehe",
                        email: "kiet123@gmail.com",
                        avatar: "https://i.pravatar.cc/300",
                        role: "admin",
                        status: "active",
                        lastActivity: "1 min ago",
                        joinDate: '2023-06-16T02:56:02.677Z',
                        isShowPopUp: false
                    };
                    this.userData.push(newUser);
                },
                closeAllPopUp() {
                    this.userData.forEach(e => {
                        e.isShowPopUp = false
                    });
                },
                handlePopUp(idUser) {
                    this.userData.forEach(e => {
                        if (e.id == idUser) {
                            e.isShowPopUp = !e.isShowPopUp
                        }
                        else
                            e.isShowPopUp = false
                    })
                },
                onDelete(id) {
                    this.filterDeleteUser(id);
                },
                filterDeleteUser(idUser) {
                    this.userData = this.userData.filter(e => e.id != idUser)
                }
            },
            data() {
                return {
                    searchValue: '',
                    tableColumns: [
                        "user",
                        "role",
                        "status",
                        "last activity",
                        "join date",
                        "actions",
                    ],
                    userData: [
                        {
                            id: '1',
                            name: "John Doe",
                            email: "johnDoe@gmail.com",
                            avatar: "https://i.pravatar.cc/300",
                            role: "admin",
                            status: "active",
                            lastActivity: "1 min ago",
                            joinDate: "2023-06-16T02:56:02.677Z",
                            isShowPopUp: false
                        },
                        {
                            id: '2',
                            name: "John User",
                            email: "johnDoe@gmail.com",
                            avatar: "https://i.pravatar.cc/300",
                            role: "user",
                            status: "suspended",
                            lastActivity: "1 min ago",
                            joinDate: "2023-06-16T02:56:02.677Z",
                            isShowPopUp: false
                        },
                        {
                            id: '3',
                            name: "John Admin",
                            email: "johnDoe@gmail.com",
                            avatar: "https://i.pravatar.cc/300",
                            role: "admin",
                            status: "active",
                            lastActivity: "1 min ago",
                            joinDate: "2023-06-16T02:56:02.677Z",
                            isShowPopUp: false
                        },
                    ],
                }
            }
        }).mount('#app')
    </script>
</body>

</html>