<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Info</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .input-text {
            border-radius: 5px;
            border: 1px solid #ccc;
            margin: 8px 0;
            padding: 10px 6px;
            position: relative;
        }
        input[type="text"],option,select{
            outline: none;
            color: #333;
            width: 100%;
        }
        .input-error{
            border: 1px solid red;
        }
    </style>
</head>

<body>
    <div id="app" class="bg-gray-400 w-full p-10">
        <div class="container block bg-white rounded py-4 w-10/12 mx-auto">
            <div class="header-container px-6 border-b border-gray-300">
                <h2><b>Account Detail</b></h2>
                <div class="mt-4 avatar-container flex  pb-4">
                    <img :src="user.avatar" alt="" class="rounded w-20">
                    <div class="upload-avatar flex flex-col justify-between ml-2">
                        <button class="inline-block bg-green-400 p-2 rounded text-white">Upload new photo</button>
                        <p>Allowed JPG, GIF. Max size of 800K</p>
                    </div>
                </div>
            </div>
            <div class="conatainer px-8 py-4">
                <div class="flex input-text items-center">
                    <i class="fa-solid fa-envelope text-gray-400 pr-2"></i>
                    <input type="text" v-model="user.name" ref="name" placeholder="User name">
                </div>
                <div class="flex input-text items-center">
                    <i class="fa-solid fa-envelope text-gray-400 pr-2"></i>
                    <input type="text" v-model="user.email" ref="email" placeholder="email">
                </div>
                <div class="flex input-text items-center">
                    <i class="fa-solid fa-envelope text-gray-400 pr-2"></i>
                    <select v-model="user.address">
                        <option value="">Please select one</option>
                        <option>Quang Tri</option>
                        <option>Da Nang</option>
                        <option>Hue</option>
                    </select>
                </div>
                <div class="border border-gray-300 rounded py-4 px-8 mb-2">
                    <div class="check-box-container w-full flex justify-between" v-for="value in major" :key="value">
                        <label :for="value">{{value}}</label>
                        <input type="checkbox" :id="value" :value="value" v-model="user.major">
                    </div>
                </div>
                
                <div class="border border-gray-300 rounded py-4 px-8 mb-2">
                    <div class="check-box-container w-full flex justify-between" v-for="value in gender">
                        <label :for="value">{{value}}</label>
                        <input type="radio" :id="value" :value="value" v-model="user.gender">
                    </div>
                </div>
                <div class="button-are flex gap-2 mt-6">
                    <button @click="saveChange()"
                        class="p-2 inline-block rounded font-medium text-white bg-green-400 ">SAVE CHANGE</button>
                    <button @click="reset()"
                        class="p-2 inline-block rounded font-medium text-white bg-gray-300 ">RESET</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        const { createApp } = Vue
        createApp({
           
            computed: {
            },
            data() {
                return {
                    user: {},
     
                    gender: ['Male', 'Female', 'Other'],
                    major: ['IT', 'DS', 'MO']
                }
            },
            mounted() {
                this.reset()
            },
            methods: {
                reset() {
                    this.user ={
                        email: '',
                        gender: '',
                        address: '',
                        name: '',
                        major: []
                    }
                },
                saveChange() {
                    if(this.user.name === ''){
                        alert('input name plz')
                        return;
                    }
                    if (!this.validateEmail(this.user.email)) {
                        alert('check mail again')
                        return;
                    }
                    if(!this.user.gender){
                        alert('choose gender')
                        return;
                    }
                    if(!this.validateAddress(this.user.address)){
                        alert('chooose city')
                        return;
                    }
                    if(!this.validateMajor(this.user.major)){
                        alert('choose major');
                        return;
                    }
                    else{
                        const body ={
                            name: this.user.name, 
                            email: this.user.email, 
                            address: this.user.address, 
                            major: this.user.major, 
                            gender: this.user.gender
                        }
                        alert(
                            JSON.stringify(body)
                        )
                    }  
                },
                validateEmail(email) {
                    // Regular expression for email validation
                    const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                    return emailPattern.test(email);
                },
                validateAddress(address){
                    return this.user.address
                }, 
                validateMajor(major){
                    return this.user.major.length > 0; 
                }
            },
        }).mount('#app')
    </script>
</body>
</html>